#root {
    /* min-height: 100vh; */
    margin: 0 auto;
    text-align: center;
}

.App {
    color: rgb(255, 255, 255);
    display: flex;
    height: 100vh;
}

.main-container {
    height: 100%;
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: center;
    min-width: 50vw;
    transition: width .5s cubic-bezier(0.22, 1, 0.36, 1);
}

.controllers-container {
    height: 100%;
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: center;
    width: 0vw;
    transition: width .5s cubic-bezier(0.22, 1, 0.36, 1);
}

.controllers-open {
    width: 30vw;
    max-width: 20rem;
    /* border: #158830 1px solid; */
}

.main-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 4rem 1rem 0 1rem;
}

.App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    font-size: calc(10px + 2vmin);
}

.blob-container {
    /* height: 95%; */
    margin-top: 5%;
    width: 100%;
    inset: 0;
    overflow: clip;
    position: absolute;
    z-index: -1;
}
.blob {
    left: calc(50% - 500px);
    transform-origin: center;
    animation: rotation 1000s infinite linear;
}
#blob-path  {
    transition: fill 5s ease;
    fill: #79b03b;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg) ;
    }
    100% {
        transform: rotate(360deg) ;
    }
}

.canvas {
    display: none;
    /* max-width: 80vw;
    max-height: 80vh; */
}

.ascciContainer {
    margin: 2em 0;
    height: fit-content;
    width: fit-content;
    font-family: 'Courier Prime', monospace;
    line-height: 0%;
    letter-spacing: .1em;
    font-size: 1.2em;
    word-wrap: break-word;
    overflow: auto;
}

.ascciContainer>p {
    margin-top: 0;
    margin-bottom: 0.7em;
}

.navbar {
    position: fixed;
    top: 0;
    margin: 0 auto;
    height: 4rem;
    font-family: 'Staatliches', cursive;
    font-weight: 600;
    font-size: 1.75rem;
    color: #79b03b;
}
#title-header {
    transition: color 5s ease;
}

.navbar > * {
    margin: 0;
    user-select: none;
}

.color-palette {
    display: flex;
    justify-content: center;
}
.color-palette div {
    height: 2rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}
.color-palette *:nth-child(1) {
    background-color: #e7d5b9;
}
.color-palette *:nth-child(2) {
    background-color: #155d88;
}
.color-palette *:nth-child(3) {
    background-color: #f9a31d;
}
.color-palette *:nth-child(4) {
    background-color: #d5472c;
}

.options-panel {
    margin: 0 1rem;
}

.OptPanelComp {
    min-width: fit-content;
    border-radius: 1.5rem;
    background-color: #d5472c;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    margin: .25em 0;
    animation: pop-in 1s ease forwards;
    user-select: none;
}
.OptPanelComp p {
    margin: 0;
}
.popIn {
    animation: pop-in 1s ease forwards;
}
@keyframes pop-in {
	0% {
		transform: scale(0);
	}

	16% {
		transform: scale(1.05);
	}

	28% {
		transform: scale(0.95);
	}

	38% {
		transform: scale(1.05);
	}

	46% {
		transform: scale(0.97);
	}

	54% {
		transform: scale(1);
	}

	100% {
		transform: scale(1);
	}
}

.hidden {
    display: none;
}
.pointer {
    cursor: pointer;
}

.styleselect {
    margin: 0;
}

.resolution {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
    max-width: 15rem;
}
.resolution-div {
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: space-between;
}
.font-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
.font-container button {
    align-self: center;
    width: fit-content;
}

.hexinput {
    width: 4rem;
}

.colorinput {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 2.5rem;
    width: 2.4rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.colorinput::-webkit-color-swatch {
  border-radius: 50%;
  border: none;
}
.colorinput::-moz-color-swatch {
  border-radius: 50%;
  border: none;
}

.transparent {
    color: #d5472c;
    padding: 0 0 2px 0;
    height: 1.9rem;
    width: 2rem;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.15rem;
    font-weight: 900;
    line-height: 1.8;    
    background-color: #e7d5b9;
}

.droparea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 4px dashed white;
    border-radius: 1rem;
    height: 12rem;
    width: 20rem;
    font-size: 1.2rem;
    margin: 2rem auto;
    padding: 2rem;
    transition: background-color ease .5s, transform .2s cubic-bezier(.72,-0.01,.2,1.46);
}
.droparea p {    
    margin: 0 0 .5rem 0;
}
.draging {
    background-color: #e7d5b9;
    transform: scale(1.02);
}
.dropit {
    color: #212121;
    font-size: 1.4rem;
}
.drag-error {
    background-color: #d5472c;    
    transform: scale(0.9);
    animation: error-shake 0.75s;
}
@keyframes error-shake {
    0% {
        rotate: 0deg;
    }
    10% {
        rotate: 2deg;
    }
    20% {
        rotate: -2deg;
    }
    30% {
        rotate: 0deg;
    }
    40% {
        rotate: 3deg;
    }
    50% {
        rotate: -3deg;
    }
    60% {
        rotate: 1deg;
    }
    70% {
        rotate: -1deg;
    }
    80% {
        rotate: 2deg;
    }
    90% {
        rotate: -1deg;
    }
    100% {
        rotate: 0deg;
    }
}
.og-preview {
    margin: auto 0;
    max-width: 70vw;
    max-height: 80vh;
    border-radius: 1.5em;
    pointer-events: none;
    background-color: #212121;
    animation: zoom .5s cubic-bezier(.67,.31,.44,1.45);
}
@keyframes zoom {
    from {
        /* border-radius: 99em;         */
        opacity: 0;
        max-width: 35vw;
        max-height: 40vh;
    }

    to {
        /* border-radius: 1.5em; */
        opacity: 1;
        max-width: 70vw;
        max-height: 80vh;
    }
}

.buttons-container {
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(5, 1fr);
    margin: 1rem;
    rotate: 1.5deg;
}

.buttons-container > button:nth-child(2) {
    background-color: #d5472c;
    border: 4px solid #e95b3e;
    grid-column: span 1 / span 1;
}
.buttons-container > button:nth-child(2):hover {
    border-color: #f76d51;
}
.buttons-container > button:nth-child(3) {
    grid-column: span 5 / span 5;
}

.animate-mutate {
    grid-column: span 4 / span 4;
}
.animate-mutate button {
    width: 100%;
    background-color: #79b03b;
    border: 4px solid #85c23f;
}
.animate-mutate:hover button {
    border-color: #97d64f;
}
.animate-mutate:hover button svg {
    animation: shake 1s forwards;
}
@keyframes shake {
    0% {
        scale: 1;
        rotate: 0deg;
    }
    20% {
        rotate: 15deg;
    }
    50% {
        rotate: -15deg;
    }
    70% {
        rotate: 10deg;
    }
    100% {
        scale: 1.2;
        rotate: -10deg;
    }
}
.animate-save {
    grid-column: span 5 / span 5;
}
.animate-save button {
    width: 100%;
}
.animate-save:hover button svg {
    animation: jump .5s ease forwards;
}
@keyframes jump {
    0% {
        translate: 0% 0%;
        scale: 1;
        rotate: 0deg;
    }
    50% {
        translate: 0% -25%;
    }
    100% {
        translate: 0% 0%;
        rotate: -5deg;
        scale: 1.2;
    }
}

.checkbox-eye {
    display: flex;
    align-items: center;
    height: 1.25rem;
    aspect-ratio: 1;
    font-size: 1.25rem;
    cursor: pointer;
}
.disabled-eye {
    color: #e7d5b999;
    cursor: default;
}